.company-item {
    background-color: #0A5DFF;
    border-radius: 16px;
    padding: 8px 16px;
    margin-top: 16px;
    width: 80%
}

.company-item__name {
    font-size: 20px;
}

.company-item__ticker {
    font-size: 12px;
}

.company-item__stock-price {
    font-size: 24px;
}